<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/outputstyle.css') }}" >
    <title>Output</title>
</head>
<body>
    
    <body>
        <table>
            <tr>
                <th colspan="5">Oxford Village Condominium</th>
            </tr>
            <tr>
                <th colspan="5">Wanwadi, Pune - 411 040</th>
            </tr>
            <tr>
                <th colspan="5">Invoice for Maintenance Charges for FY {{year}}</th>
            </tr>
            <tr id="heading">
                <td class="first" id="annex">Inv. No</td>
                <td class="second">{{index}}</td>
                <td class="third"></td>
                <td class="four" id="annex">Date:</td>
                <td class="five"  id="annex">{{invoiceDate}}</td>
            </tr>
            <tr id="heading">
                <td  class="first" id="annex">Name:</td>
                <td class="second">{{name}}</td>
                <td></td>
                <td class="annex">Aptmt/B no.</td>
                <td class="annex">{{aptNo}}</td>
            </tr>
            <tr id="heading">
                <td class="annex">Period:</td>
                <td class="second">{{period}}</td>
                <td></td>
                <td class="annex">Status:</td>
                <td class="annex">{{status}}</td>
            </tr>
            <tr id="heading">
                <td></td>
                <td class="second"></td>
                <td class="annex"></td>
                <td class="annex">Corpus Paid:</td>
                <td class="annex">{{corpus}}</td>
            </tr>

            <tr class="subheading">
                <td class="annex">A</td>
                <td class="second">Item</td>
                <td class="annex">Rate</td>
                <td></td>
                <td class="annex">Amount Rs.</td>
            </tr>

            <tr>
                <td class="annex">1</td>
                <td class="second">{{itemName[1]}}</td>
                <td class="annex">{{config[0]}}</td>
                <td></td>
                <td class="annex">{{item[1]}}</td>
            </tr>
            <tr>
                <td class="annex">2</td>
                <td class="second">{{itemName[2]}}</td>
                <td class="annex">{{config[1]}}%</td>
                <td></td>
                <td class="annex">{{item[2]}}</td>
            </tr>
            <tr>
                <td class="annex">3</td>
                <td class="second">{{itemName[3]}}</td>
                <td class="annex">{{config[3]}}%</td>
                <td></td>
                <td class="annex">{{item[3]}}</td>
            </tr>
            <tr>
                <td class="annex">4</td>
                <td class="second">{{itemName[4]}}</td>
                <td></td>
                <td></td>
                <td class="annex">{{item[4]}}</td>
            </tr>
            <tr>
                <td class="annex">5</td>
                <td class="second">{{itemName[5]}}</td>
                <td class="annex">{{config[2]}}</td>
                <td></td>
                <td class="annex">{{item[5]}}</td>
            </tr>
            <tr>
                <td class="annex">6</td>
                <td class="second">{{itemName[6]}}</td>
                <td class="annex">{{config[4]}}%</td>
                <td></td>
                <td class="annex">{{item[6]}}</td>
            </tr>
            <tr>
                <td class="annex">7</td>
                <td class="second">{{itemName[7]}}</td>
                <td></td>
                <td class="annex"></td>
                <td class="annex">{{item[7]}}</td>
            </tr>
            <tr>
                <td class="annex">8</td>
                <td class="second">{{itemName[8]}}</td>
                <td></td>
                <td class="annex"></td>
                <td class="annex">{{item[8]}}</td>
            </tr>
            <tr>
                <td class="annex">9</td>
                <td class="second">{{itemName[9]}}</td>
                <td></td>
                <td class="annex"></td>
                <td class="annex">{{item[9]}}</td>
            </tr>
            <tr>
                <td class="annex">10</td>
                <td class="second">{{itemName[10]}}</td>
                <td></td>
                <td class="annex"></td>
                <td class="annex">{{item[10]}}</td>
            </tr>
            <tr>
                <td class="annex">11</td>
                <td class="second">{{itemName[11]}}</td>
                <td></td>
                <td class="annex"></td>
                <td class="annex">{{item[11]}}</td>
            </tr>
            <tr>
                <td class="annex">12</td>
                <td class="second">{{itemName[12]}}</td>
                <td></td>
                <td class="annex"></td>
                <td class="annex">{{item[12]}}</td>
            </tr>

            <tr>
                <td class="annex">13</td>
                <td class="second">{{itemName[13]}}</td>
                <td></td>
                <td></td>
                <td class="annex">{{item[13]}}</td>
            </tr>
            <tr>
                <td class="annex">14</td>
                <td class="second">{{itemName[14]}}</td>                
                <td class="annex">{{config[8]}}%</td>
                <td></td>
                <td class="annex">{{item[14]}}</td>
            </tr>
            <tr>
                <td class="annex">15</td>
                <td class="second">{{itemName[15]}}</td>
                <td class="annex">{{config[9]}}%</td>
                <td></td>
                <td class="annex">{{item[15]}}</td>
            </tr>

            <tr>
                <td class="annex">16</td>
                <td class="second">{{itemName[16]}}</td>
                <td></td>
                <td></td>
                <td class="annex">{{item[16]}}</td>
            </tr>
            
            <tr class="subheading">
                <td class="annex">B</td>
                <td class="second">If Paid Before {{invoiceDateDue}}</td>
                <td></td>
                <td></td>
                <td class="annex"></td>
            </tr>
            <tr>
                <td class="annex">17</td>
                <td class="second">{{itemName[17]}}</td>
                <td></td>
                <td></td>
                <td class="annex">{{item[17]}}</td>
            </tr>
            <tr>
                <td class="annex">18</td>
                <td class="second">{{itemName[18]}}</td>
                <td class="annex">{{config[5]}}%</td>
                <td></td>
                <td class="annex">{{item[18]}}</td>
            </tr>
            <tr>
                <td class="annex">19</td>
                <td class="second">{{itemName[19]}}</td>
                <td class="annex">{{config[5]}}%</td>
                <td></td>
                <td class="annex">{{item[19]}}</td>
            </tr>
        
            <tr class="subheading">
                <td class="annex">C</td>
                <td class="second">Payment Schedule if Paid After {{invoiceDateDue}}</td>
                <td class="annex"></td>
                <td class="annex"></td>
                <td class="annex">Amount Rs.</td>
            </tr>

            <tr>
                <td class="annex">20</td>
                <td class="second">{{itemName[20]}}</td>
                <td class="annex"></td>
                <td class="annex"></td>
                <td class="annex">{{item[20]}}</td>    
            </tr>
            <tr>
                <td class="annex">21</td>
                <td class="second">{{itemName[21]}}</td>
                <td class="annex"></td>
                <td class="annex"></td>
                <td class="annex">{{item[21]}}</td>
            </tr>
            <tr>
                <td class="annex">22</td>
                <td class="second">{{itemName[22]}}</td>
                <td class="annex"></td>
                <td class="annex"></td>
                <td class="annex">{{item[22]}}</td>
            </tr>
            <tr>
                <td class="annex">23</td>
                <td class="second">{{itemName[23]}}</td>
                <td class="annex"></td>
                <td class="annex"></td>
                <td class="annex">{{item[23]}}</td>
            </tr>
            <tr>
                <td class="annex">24</td>
                <td class="second">{{itemName[24]}}</td>
                <td class="annex"></td>
                <td class="annex"></td>
                <td class="annex">{{item[24]}}</td>
            </tr>
            <tr>
                <td class="annex">25</td>
                <td class="second">{{itemName[25]}}</td>
                <td class="annex"></td>
                <td class="annex"></td>
                <td class="annex">{{item[25]}}</td>
            </tr>
            <tr>
                <td class="annex">26</td>
                <td class="second">{{itemName[26]}}</td>
                <td class="annex"></td>
                <td class="annex"></td>
                <td class="annex">{{item[26]}}</td>
            </tr>
            <tr>
                <td class="annex">27</td>
                <td class="second">{{itemName[27]}}</td>
                <td class="annex"></td>
                <td class="annex"></td>
                <td class="annex">{{item[27]}}</td>
            </tr>
            <tr>
                <td class="annex">28</td>
                <td class="second">{{itemName[28]}}</td>
                <td class="annex"></td>
                <td class="annex"></td>
                <td class="annex">{{item[28]}}</td>
            </tr>
            <tr>
                <td class="annex">29</td>
                <td class="second">{{itemName[29]}}</td>
                <td class="annex"></td>
                <td class="annex"></td>
                <td class="annex">{{item[29]}}</td>
            </tr>
            <tr>
                <td class="annex">30</td>
                <td class="second">{{itemName[30]}}</td>
                <td class="annex"></td>
                <td class="annex"></td>
                <td class="annex">{{item[30]}}</td>
            </tr>
        </table>
    </body>
        
</body>
</html>