<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/homestyle.css') }}" >
    <title>Home Page</title>
</head>
<body> 

    <div class="parent">
        <form method="POST" enctype="multipart/form-data" >
        <div class="form">
            <div class="entry">
                <h1>Invoice Generation</h1>
            </div>
                <div class="entry">
                    <label for="Upload Excel file">Upload Excel file<label>
                </div>
                <div class="box">
                    <input type="file" id="Upload Excel file" name="file" class="file" accept=".xlsx" required>
                </div>
                <div class="entry">
                    <label for="invoiceDate">Invoice Date</label>
                </div>
                <div class="box">
                <input type="date" id="invoiceDate" name="invoiceDate" placeholder="dd/mm/yyyy" required>
                </div>
                
                <div class="entry">
                    <label for="year">Invoice year</label>
                </div>
                <div class="box">
                    <input type="text" id="year" name="year" placeholder="20XX-XX" required>
                </div>
                <div class="entry">
                    <label for="period">Invoice Period</label>
                </div>
                <div class="box">
                    <input type="text" id="period" name="period" placeholder="01 Apr'2022 to 31 Mar'2023" required>
                </div>
                
                <div class="box">
                    <button class="button" onclick="bttt()"> Submit </button>
                </div>
        </div>

        <div class="email">
            <div class="section">
                <div class="entry-sub">
                        <label for="subject">Email Subject</label>
                </div>
                <div class="box-sub">
                        <input type="text" id="subject" name="subject" placeholder="Invoice">
                </div>
            </div>
            <div class="msg-section">
                <div class="entry-msg">
                    <label for="message">Email Body</label>
                </div>
                <div class="box-msg">
                    <textarea type="text" id="message" name="message" placeholder="Here is your invoice."></textarea>
                </div>
            </div>
        </div>
    </form>
    </div>  

</body>
</html>